    .nav-pills li a:hover{
        background-color: white;
    }

    :root{
        --main-color: black;
    }

    .nav-pills li a:hover span,
        .nav-pills li a:hover i {
            color: black;
            font-weight: bold;
    }

    .sidebar-main{
        min-width: 100px;
        max-width: 310px;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }

    .sidebar{
        background-color: white;
        color: black;
    }
    
    .container {
        margin-top: 20px;
    }
    
    .input-box {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 5px;
    }
    
    .input-field {
        margin-bottom: 15px;
    }
    
    .input-field label {
        display: block;
        margin-bottom: 5px;
    }
    
    .input-field input {
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    #content-placeholder {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }
    
    
    .submit {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .submit:hover {
        background-color: #45a049;
    }
    
    .fixed-size-container {
        max-width: 100%;
        width: 100%;
        margin: auto;
        border-radius: 5px;
    }
    
    .text-left {
        text-align: left;
    }
    
    .bg-light {
        background-color: #f8f9fa;
    }

    .edit-link{
        text-decoration: none;
        color: black;
    }
    
    .edit-text-icon-gap{
        margin-left: 5px;
    }

    .edit-link:hover{
        text-decoration: underline;
        color: black;
        font-weight: bold;
    }

    .profile-button{
        width: 400px;
        background-color: var(--main-color);
        color: black;
    }

    .profile-button:hover{
        width: 400px;
        background-color: var(--main-color);
        color: white;
    }
    
    .add-business-link{
        text-decoration: none;
        color: rgb(6, 29, 66);
    }

    .register-business-btn-custom{
        background-color: var(--main-color);
        color: black;
    }

    .register-business-btn-custom:hover{
        background-color: var(--main-color);
        color: white;
    }

    .logout-btn{
        background-color: white;
        color: black;
    }

    .logout-btn:hover{
        background-color: var(--main-color);
        color: white;
    }