/* :root{
    --main-color: blue;
} */

h2 {
    color: #333;
}
ul {
    list-style-type: none;
    padding: 0;
}

input[type="checkbox"] {
    display: none;
}
label {
    display: inline-block;
    cursor: pointer;
    padding-left: 25px;
    position: relative;
}
label::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    position: absolute;
    left: 0;
    top: 1px;
    border-radius: 3px;
}
input[type="checkbox"]:checked + label::before {
    background-color: #19a949;
    border-color: #19a949;
}
input[type="checkbox"]:checked + label::after {
    content: '\2713';
    display: block;
    width: 16px;
    height: 16px;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 1px;
}

.container button {
    background-color: #d11f1f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.container button:hover {
    background-color: #d11f1f;
}